@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap');
@import url('https://fonts.cdnfonts.com/css/simplifica');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded hover:bg-opacity-90 transition-all duration-300;
  }
  
  .section-title {
    @apply text-4xl font-bold mb-4 font-pacifico;
  }
  
  .heading-main {
    @apply text-3xl font-bold mb-2 font-heebo;
  }
  
  .heading-sub {
    @apply text-xl font-semibold mb-4 font-nunito;
  }

  .open-sans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4em;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
